auto
common/conf.d/test-odoo.cfg
custom/src/*
!custom/src/.gitkeep
!custom/src/addons.yaml
!custom/src/repos.yaml
datadir
.env
.env-secret
logfile
migrate-backup
migrate-logfiles
migrate-temporary
*.pyc
.pyenv
.slide
.venv
waftlib
