.venv/
waftlib/
auto/
logfile/
.env
.env-secret
.venv
/custom/src/*
!/custom/src/.gitkeep
!/custom/src/addons.yaml
!custom/src/repos.yaml
Pipfile.lock
.pyenv
pipenv
.slide
migrate-backup
migrate-logfiles
migrate-temporary
