*

!auto/addons/.gitkeep
!common/build.d/.gitkeep
!common/conf.d/.gitkeep
!common/entrypoint.d/.gitkeep
!custom/src/private/.gitkeep
!custom/src/addons.yaml
!custom/src/repos.yaml
!.gitignore
!bootstrap
!README.md
